* {
    box-sizing: border-box;
}

:root {
    --bg-color:#7264D6;
    --text-color: #696D76;
    --text-heading: #212832;
}

html {
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
}

body {
    font-size: 1.6rem;
    font-family: inherit;
}

/* Common */
input, textarea, button, select {
    font-size: inherit;
    font-family: inherit;
}

a {
    text-decoration: none;
}

.container {
    width: calc(100% - 30px);
    max-width: 1170px;
    margin: 0 auto;
}

.btn {
    --height: 52px;

    display: inline-block;
    min-width: 113px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: var(--text-heading);
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    color: #fff;
    transition: opacity 0.25s linear;
}

.btn:hover {
    opacity: 0.8;
}

.section-subtitle {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    color: var(--text-color);
}

.section-desc {
    margin-top: 20px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    color: var(--text-color);
}

.separate {
    display: inline-flex;
    align-items: center;
    column-gap: 12px;
}

.separate::before {
    content: "";
    width: 18px;
    height: 2px;
    background-color: var(--text-color);
}

/* Header */
.header {
    margin-top: 30px;
    padding-top: 12px;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left {
    display: flex;
    align-items: center;
}

.navbar__list {
    display: flex;
    align-items: center;
    margin-left: 55px;
}

.navbar__item {
    margin: 0 20px;
}

.navbar__item-link {
    position: relative;
    padding: 6px 0;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    color: var(--text-color);
    transition: all 0.25s linear;
}

.navbar__item-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    border-radius: 6px;
    background-color: var(--bg-color);
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s linear;
}

.navbar__item:hover .navbar__item-link,
.navbar__item--active .navbar__item-link {
    color: #000;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__item:hover .navbar__item-link::before,
.navbar__item--active .navbar__item-link::before {
    visibility: visible;
    opacity: 1;
}

.header-action__btn {
    margin-left: auto;
}

.header-action__link {
    margin-right: 28px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    color: var(--text-heading);
}

/* Hero */
.hero {
    padding: 75px 0 80px;
}

.hero__inner {
    display: flex;
    align-items: center;
}

.hero__content {
    width: 46%;
}

.hero__heading {
    margin-top: 12px;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.17;
    color: var(--text-heading);
}

.hero__heading strong {
    color: var(--bg-color);
}

.subscribe-form {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 74px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.subscribe-form__input {
    padding: 0 24px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

.subscribe-form__input::placeholder {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    color: var(--text-color);
}

.subscribe-form__btn {
    margin: 8px;
    width: 149px;
    background-color: var(--bg-color);
    cursor: pointer;
}

.hero__note {
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
    color: var(--text-color);
}

.hero__media {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero__media-wrap {
    position: relative;
}

.hero-deposit__inner {
    position: absolute;
    top: 113px;
    left: -100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 175px;
    padding: 14px 10px;
    border-radius: 6px;
    background-color: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.deposit-desc {
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.deposit-desc__name {
    margin-left: 8px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    color: #31456A;
}

.deposit-price {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
    color: #4AB5E3;
}

.hero-interest__inner {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 126px;
    right: -175px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #DA6464;
    color: #fff;
}

.interest-percent {
    font-size: 4.4rem;
    font-weight: 600;
}

.interest-name {
    font-size: 1.6rem;
    font-weight: 400;
}

.hero-secured__inner {
    position: absolute;
    bottom: 62px;
    right: -74px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 14px;
    background-color: #439F90;
    border-radius: 10px;
    color: #fff;
}

.secured-desc {
    margin-left: 11px;
}

.secured-desc__price {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.secured-desc__name {
    margin-top: 5px;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1;
}

/* Work */
.work {
    padding-top: 80px;
}

.work__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work__media {
    position: relative;
    width: 40%;
}

.work__media::before {
    content: url(../icon/background.svg);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -74px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.work__img {
    margin: 0 auto;
    width: calc(100% - 14px);
    height: 620px;
    display: block;
}

.work-logo {
    position: absolute;
    top: 75px;
    right: 55px;
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
}

.work-logo::before {
    content: "";
    position: absolute;
    top: -8px;
    left: -10px;
    width: 64px;
    height: 64px;
    border-radius: inherit;
    background-color: var(--bg-color);
    z-index: -1;
}

.work-check {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 95px;
    right: -100px;
    border-radius: 8px;
    background: #FFFDFA;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
    padding: 15px 30px 15px 15px;
}

.work-check__icon-wrap {
    position: relative;
    margin-left: 10px;
}

.work-check__icon {
    position: relative;
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    fill: #4ab5e3;
    padding: 2px;
    z-index: 2;
}

.work-check__icon-wrap::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 40px;
    height: 40px;
    background-color: #4ab5e3;
    border-radius: 6px;
}

.work-check__wrap {
    margin-left: 20px;
    font-family: "Inter", sans-serif;
}

.work-check__title {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-heading);
}

.work-check__desc {
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-color);
}